<div *ngIf="post">
  <header class="post__header">
    <article class="post__header--container">
      <h1 class="post__header--title">{{ post.title }}</h1>
      <div class="post__infobox">
        <p class="author">Author: <span class="author__span">{{ fullName }}</span></p>
        <p class="website">website: <span class="website__span">{{ website }}</span></p>
        <a class="header__link" routerLink="/posts" >&larr; All posts</a>
      </div>
    </article>
  </header>

  <main class="container2">
    <div class="posts">
      <article class="box">
         <div class="post__data">
           <p class="post__content">{{ post.body }}</p>
         </div>
       </article>
     </div>
  </main>

  <section class="comments">
    <h2 class="comments__title">Comments</h2>
    <p class="comments__title--underline"></p>

    <div *ngIf="comments">
      <div class="comment box" *ngFor="let comment of comments">
        <p class="comment__name">{{ comment.name }}</p>
        <p class="comment__body">{{ comment.body }} </p>
      </div>
    </div>
  </section>

  <section class="comment__inputs">
    <h3 class="comment__form--title">
      Add comment
      <span class="comment__form--subtitle">- share your thoughts!</span>
    </h3>
    <p class="comments__title--underline"></p>

    <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm" id="form">
      <div class="writerName__box">
        <label id="writerName__label" for="writerName">Name</label>
        <input
          id="writerName__input"
          type="text"
          placeholder="Name"
          minlength="6"
          required
          ngModel
          name="commenterName"
        />
      </div>

      <div class="writerEmail__box">
        <label id="writerEmail__label" for="writerEmail">E-mail</label>
        <input
          id="writerEmail__input"
          type="email"
          placeholder="your@email.com"
          required
          email
          ngModel
          name="commenterEmail"
        />
      </div>

      <label id="commentText__label" for="commentText">Comment</label>
      <textarea
        id="commentText__input"
        cols="60"
        rows="5"
        placeholder="Thoughts"
        minlength="3"
        required
        ngModel
        name="commenterText"
      ></textarea>

      <button class="btn btn-lg" id="submit__button" type="submit">Add</button>
    </form>
  </section>
</div>
